<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>this ie heading</h1>
    <h2> <%= "nishani".toUpperCase() %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure suscipit, reprehenderit ab vel quod quae explicabo,
        distinctio in fuga odio nemo excepturi omnis error fugiat veniam reiciendis sed sapiente ratione.</p>
        <button>send</button>
        <h3> <%= ["nishani" ,"saraj" ,"sabita"] [2] %></h3>
</body>

</html>